<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Princess Leia</title>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Nunito+Sans:wght@600&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
            <img id="image-logo" src="images/logostarwars.png" alt="logo star Wars">
        <nav class="topnav">
            <span>
            <a href=#home>home</a>
            </span>
            <span>
            <a href=#personajes>personajes</a>
             </span>
        </nav>
    </header>
    <main>
        <section>
            <h1>Princess Leia:<br>A woman's place is in the resistance</h1>
        </section>
        <section class="intro-leia">
        <img src="images/leia.png">
        </section>
        <section class = "section-container">
            <article>
                <p class = "summary">As Star Wars: The Last Jedi hits theatres, we reflect on the influence our favourite galactic heroine, Princess Leia Organa, has had on girls of all ages from 1977 to 2017 – that’s 40 years people! Modern in ways we didn’t necessary recognize as tweens and teens back in the day, she has stood the test of time for being both badass and kickass, not too mention her razor-edged wit and yes, her space-style. Finally, a princess to which every feminist would aspire.</p>
                <figure>
                    <img class="imagen1" src = "images/oneil_thr_womanmarch-2-compressed.jpg">
                    <img class="imagen1" src = "images/WomensMarch_Leia_TA_632335834.jpg">
                </figure>
                <figcaption>
                    A number of signs featured the late Carrie Fisher as Princess Leia alongside the words "A Women's Place Is in the Resistance.
                </figcaption>
                <h2 class="quote">"It was a man’s world <br> – even in a galaxy far, far away."</h2>
                <img class = "separator" src = "images/Screen-Shot-2018-01-22-at-12.25.54-PM.jpg">
                <h2 class="title">4 lessons we learned from Princess Leia</h2>
                    <section class="lessons">
                    <span>
                        <h3>She Dressed the Part.</h3>
                        <p class="text">It was a man’s world – even in a galaxy far, far away. (To our point, can you name any of the other females, human and not, in the original trilogy?) But there would be no pantsuits for Leia – not that there’s anything wrong with that. It would be floor-grazing dresses and elaborate outfits for Ms. Organa. And the hair. It couldn’t have been more done.</p>
                    </span>
                    <span>
                        <h3>The Princess is a Renaissance Woman.</h3>
                        <p class="text">Forget about bringing home the bacon! Our Leia lead a galactic rebellion! Deftly wielded a blaster! Maneuvered a Speeder Bike through the dense forest of Endor in pursuit of Empire henchmen! And delivered a snappy, exacting insult on demand! There is nothing she can’t do, and do it better than the boys! (Take that Wonder Woman)</p>
                    </span>
                    <span>
                        <h3>Doesn't fall for the First Dude.</h2>
                        <p class="text">It turned out to be the second guy. However, unlike the classic fairytale, the Princess doesn’t – at least at first – fall into the arms of either fella who come to her rescue. (A mission she promptly took over with aplomb). She eventually does fall for Han Solo – and who wouldn’t? Who among us hasn’t picked the dark brooding rogue with the great hair and sly grin? But first, he has to prove his worth, which incidentally takes three whole movies.</p>
                    </span>
                    <span>
                        <h3>That’s General to You.</h3>
                        <p class="text">We love seeing an older woman in charge! As we discovered in Force Awakens, our Princess has climbed the ranks to General and reigns over the rebellion. A Grande Dame of the galaxy, her earned wisdom shows unabashedly on her face, she has coped with being a single mom to an evil son, (though we hope he redeems himself in classic Star Wars style) and with typical maturity and grace she managed to have a caring relationship (still filled with sexual tension) with her ex Han. That couldn’t have been easy!</p>
                    </span>   
                    </section>
                    <br>           
                        <h2 class="quote">"No One Puts Leia in a Gold Bikini."</h2>
            </article>
        </section>
    </main>
<footer>
<a href="mailto:florenciaestevez@gmail.com">email</a>
<a href="https://www.everythingzoomer.com/arts-entertainment/2020/12/08/40-years-later-why-the-loss-of-john-lennon-still-resonates/">source</a>
</footer>
</body>
</html>